.admin-container {
    display: flex;
    min-height: 100vh;
    background: #fafafa;
}

.sidebar-desktop {
    display: block;
    background: #111;
}

.sidebar-mobile {
    display: none;
}

.admin-sidebar {
    width: 220px;
    color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.admin-title {
    font-size: 20px;
    font-weight: 700;
}

.admin-nav ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.admin-nav a {
    color: #cfcfcf;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.admin-nav a:hover {
    color: #fff;
}

.admin-main {
    flex: 1;
    padding: 40px;
}


/* ---------------- 모바일 ---------------- */
@media (max-width: 768px) {
    .sidebar-desktop {
        display: none;
    }

    .sidebar-mobile {
        display: block;
        width: 100%;
    }

    .admin-container {
        flex-direction: column;
    }

    .admin-title {
        display: none;
    }

    .admin-sidebar {
        background: #111;
        width: 100vw;
    }

    .admin-nav a {
        color: #eee;
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
    }

    .mobile-header {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px 16px;
        background: #111;
        color: #eee;
    }

    .mobile-title {
        font-size: 18px;
        font-weight: 600;
    }

    .admin-main {
        padding: 16px;
    }
}
